$color: #fff;
// $bgcolor: #f8f8f8;
$fontSize: 1.75rem;
$fontSizeSmall: 1rem;
.setting {
  // height: 100vh;
  .setting-header {
    position: relative;
    // background: $bgcolor;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    .setting-title{
      color: $color;
      font-size: $fontSize;
      letter-spacing: 1.5px;
    }
  }
}